---
import BaseLayout from '../layouts/BaseLayout.astro';
import { products } from '../data/products';
const galleryItems = products.slice(0, 7);
---

<BaseLayout>

		<!-- ============================================ -->
		<!--                    Hero                      -->
		<!-- ============================================ -->

		<!-- <section id="hero-1426">
			<div class="cs-container">
				<div class="cs-content">
					
					<h1 class="cs-title">Fresh Leafy Greens for Wholesale</h1>
					<p class="cs-text">
						Consistent supply, certified quality, fast delivery.
					</p>
					<div class="cs-button-group">
						<a href="" class="cs-button-solid cs-button1">Browse Products</a>
						<a href="" class="cs-button-solid cs-button2">Request Wholesale Pricing</a>
					</div>
				</div>
			</div>

			<picture class="cs-background">
				<source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field-m.jpg">
				<source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg">
				<img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/field.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
			</picture>
		</section>
		<style>

			/* Mobile - 360px */
			@media only screen and (min-width: 0rem) {
			#hero-1426 {
				/* Centers button */
				text-align: center;
				/* 200px - 300px - leaving extra space for the navigation */
				padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
				/* prevents the topper line from causing an overflow */
				overflow: hidden;
				position: relative;
				z-index: 1;
			}
			#hero-1426 .cs-background {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -2;
			}
			#hero-1426 .cs-background:before {
				/* Overlay */
				content: "";
				width: 100%;
				height: 100%;
				background: #000;
				opacity: 0.48;
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				z-index: 1;
				/* prevents the cursor from interacting with it */
				pointer-events: none;
			}
			#hero-1426 .cs-background img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
			#hero-1426 .cs-container {
				width: 100%;
				max-width: 80rem;
				margin: auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				gap: 3rem;
			}
			#hero-1426 .cs-content {
				width: 100%;
				max-width: 39.375rem;
			}
			#hero-1426 .cs-topper {
				/* 13px - 16px */
				font-size: clamp(0.8125rem, 1.5vw, 1rem);
				line-height: 1.2em;
				font-weight: 700;
				letter-spacing: 0.1em;
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 1rem;
				color: var(--secondary);
				display: inline-block;
				position: relative;
			}
			#hero-1426 .cs-title {
				/* 39px - 61px */
				font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
				font-weight: 700;
				line-height: 1.2em;
				text-align: center;
				max-width: 51.8125rem;
				color: #fff;
				position: relative;
			}
			#hero-1426 .cs-text {
				/* 16px - 20px */
				font-size: clamp(1rem, 1.95vw, 1.25rem);
				line-height: 1.5em;
				text-align: center;
				width: 100%;
				/* 464px - 622px */
				max-width: clamp(29rem, 60vw, 38.785rem);
				margin: 0 auto 0;
				margin-bottom: 2rem;
				color: #fff;
			}
			#hero-1426 .cs-button-group {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				gap: 0.5rem;
			}
			#hero-1426 .cs-button-solid {
				font-size: 1rem;
				/* 46px - 56px */
				line-height: clamp(2.875rem, 5.5vw, 3.5rem);
				text-decoration: none;
				font-weight: 700;
				text-align: center;
				margin: 0;
				color: #1a1a1a;
				min-width: 12.5rem;
				padding: 0 1.5rem;
				background-color: var(--primary);
				border-radius: 0.5rem;
				display: inline-block;
				position: relative;
				z-index: 1;
				/* prevents padding from adding to the width */
				box-sizing: border-box;
			}
			#hero-1426 .cs-button-solid:before {
				content: "";
				position: absolute;
				height: 100%;
				width: 0%;
				background: #000;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				border-radius: 0.25rem;
				transition: width 0.3s;
			}
			#hero-1426 .cs-button-solid:hover:before {
				width: 100%;
			}
			#hero-1426 .cs-button1 {
				background-color: var(--secondary);
			}
			}                    
		</style> -->

<section id="hero-1426">
  <div class="cs-container">
    <div class="cs-content"
         data-0="transform:translateY(0px); opacity:1;"
         data-500="transform:translateY(-50px); opacity:0;">
      <h1 class="cs-title">Fresh Leafy Greens for Wholesale</h1>
      <p class="cs-text">
        Consistent supply, certified quality, fast delivery.
      </p>
      <div class="cs-button-group">
        <a href="/AmazingSalads/products" class="cs-button-solid cs-button1">Browse Products</a>
        <a href="https://wa.me/447463595566" class="cs-button-solid cs-button2">Request Wholesale Pricing</a>
      </div>
    </div>
  </div>

  <picture class="cs-background"
           data-0="transform:translateY(0px) scale(1); opacity:1;"
           data-500="transform:translateY(100px) scale(1.05); opacity:0.5;">
    <source media="(max-width: 600px)" srcset="/AmazingSalads/images/hero.png">
    <source media="(min-width: 601px)" srcset="/AmazingSalads/images/hero.png">
    <img loading="lazy" decoding="async" src="/AmazingSalads/images/hero.png" alt="field" width="1920" height="1200" aria-hidden="true">
  </picture>
</section>

<style>
#hero-1426 {
  text-align: center;
  padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
  overflow: hidden;
  position: relative;
}

#hero-1426 .cs-background {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#hero-1426 .cs-background:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.48;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

#hero-1426 .cs-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s linear, opacity 0.1s linear;
}

#hero-1426 .cs-container {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#hero-1426 .cs-content {
  width: 100%;
  max-width: 39.375rem;
  position: relative;
  z-index: 2;
  transition: transform 0.1s linear, opacity 0.1s linear;
}

#hero-1426 .cs-title {
  font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
  font-weight: 700;
  line-height: 1.2em;
  color: #fff;
}

#hero-1426 .cs-text {
  font-size: clamp(1rem, 1.95vw, 1.25rem);
  line-height: 1.5em;
  color: #fff;
  margin-bottom: 2rem;
}

#hero-1426 .cs-button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#hero-1426 .cs-button-solid {
  font-size: 1rem;
  line-height: clamp(2.875rem, 5.5vw, 3.5rem);
  text-decoration: none;
  font-weight: 700;
  color: #1a1a1a;
  min-width: 12.5rem;
  padding: 0 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  position: relative;
  z-index: 2;
}

#hero-1426 .cs-button1 { background-color: var(--secondary); }
#hero-1426 .cs-button2 { background-color: var(--primary); }

#hero-1426 {
  position: relative;
  height: 100vh; /* full viewport height */
  overflow: hidden;
  z-index: 1;
}

.cs-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%; /* slightly taller for parallax */
  z-index: -1; /* ensure it’s behind hero content */
}


</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.29/skrollr.min.js" client:load></script>
<script client:load>
const s = skrollr.init({
  smoothScrolling: true,
  forceHeight: false
});
</script>



<!-- ============================================ -->
<!--                   Products                   -->
<!-- ============================================ -->

<section id="gallery-1508">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Products</span>
            <h2 class="cs-title">Explore Our Amazing Products</h2>
            <p class="cs-text">
                Take a closer look at the delicious, garden-fresh greens and herbs we grow.
            </p>
            <a href="/AmazingSalads/products" class="cs-button-solid">View All</a>
        </div>
        <!--Picture 1-->
        {galleryItems.map(product => (
          <div class="cs-picture-group fade-slide">
              <picture class="cs-image">
                  <source media="(max-width: 600px)"
                          srcset={product.image}>
                  <source media="(min-width: 601px)"
                          srcset={product.image}>
                  <img loading="lazy" decoding="async"
                          src={product.image}
                          height="400" height="400" alt="day care">
              </picture>
            
              <div class="cs-info">
                  <h3 class="cs-h3">{product.name}</h3>
                  <p class="cs-item-text">{product.description}</p>
              </div>
          </div>
        ))}
        <img class="cs-graphic cs-graphic-one"
                src="/AmazingSalads/images/svg-waves.svg"
                alt="graphic" loading="lazy" decoding="async" height="134" width="197">
        <img class="cs-graphic cs-graphic-two"
                src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/day-care-team-graphic-three.svg"
                alt="graphic" loading="lazy" decoding="async" height="191" width="138">
    </div>
</section>



<style>
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1508 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #gallery-1508 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #gallery-1508 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    /* 48px - 64px */
    margin-bottom: clamp(3rem, 6vw, 4rem);
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-1508 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    margin: 2rem 0 0;
    /* 32px - 48px */
    padding: 0 clamp(2rem, 4vw, 3rem);
    color: #fff;
    background-color: var(--secondary);
    border-radius: 1.875rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: color 0.3s;
  }
  #gallery-1508 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: var(--secondary);
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #gallery-1508 .cs-button-solid:hover:before {
    width: 100%;
  }
  #gallery-1508 .cs-picture-group {
    position: relative;
    /* stops the name and text being overflown during the transition */
    overflow: hidden;
  }
  #gallery-1508 .cs-image {
    width: 100%;
    height: 17.5rem;
    border-radius: 1.25rem;
    display: block;
    position: relative;
    /* clips the image corners */
    overflow: hidden;
  }
  #gallery-1508 .cs-image img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #gallery-1508 .cs-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
  #gallery-1508 .cs-h3,
  #gallery-1508 .cs-item-text {
    width: fit-content;
    margin: 0;
    padding: 0.75rem 1rem;
    color: #fff;
    background-color: #1a1a1a;
    border-radius: 0.5rem;
    transition: transform 0.3s, opacity 0.3s;
  }
  #gallery-1508 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 1vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    transition-delay: 0.05s;
  }
  #gallery-1508 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    padding: 0.75rem 1rem;
  }
  #gallery-1508 .cs-graphic {
    display: none;
    position: absolute;
  }
  #gallery-1508 .cs-graphic-one {
    width: 8.625rem;
    height: 11.9375rem;
    top: 13rem;
    right: -6.8125rem;
    transform: rotate(104deg);
  }
  #gallery-1508 .cs-graphic-two {
    width: 12.3125rem;
    height: 8.375rem;
    bottom: -4.5625rem;
    left: -5.5625rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-1508 .cs-container {
    max-width: 80rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  #gallery-1508 .cs-content {
    grid-column: span 12;
  }
  #gallery-1508 .cs-picture-group:nth-child(2) {
    display: block;
    grid-column: span 6;
    grid-row: span 2;
  }
  #gallery-1508 .cs-picture-group:nth-child(3) {
    grid-column: span 6;
    grid-row: span 1;
  }
  #gallery-1508 .cs-picture-group:nth-child(4) {
    grid-column: span 6;
    grid-row: span 2;
  }
  #gallery-1508 .cs-picture-group:nth-child(5) {
    grid-column: span 6;
    grid-row: span 1;
  }
  #gallery-1508 .cs-picture-group:nth-child(6) {
    grid-column: span 12;
    grid-row: span 1;
  }
  #gallery-1508 .cs-picture-group:nth-child(7) {
    grid-column: span 6;
    grid-row: span 1;
  }
  #gallery-1508 .cs-picture-group:nth-child(8) {
    grid-column: span 6;
    grid-row: span 1;
  }
  #gallery-1508 .cs-image {
    height: 100%;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #gallery-1508 .cs-container {
    grid-template-rows: repeat(4, 1fr);
  }
  #gallery-1508 .cs-content {
    text-align: left;
    margin-top: -3.3125rem;
    align-items: flex-start;
    grid-column: span 8;
  }
  #gallery-1508 .cs-picture-group:nth-child(2) {
    grid-column: span 4;
    grid-row: span 1;
  }
  #gallery-1508 .cs-picture-group:nth-child(3) {
    grid-column: span 4;
    grid-row: span 2;
  }
  #gallery-1508 .cs-picture-group:nth-child(4) {
    grid-column: span 4;
    grid-row: span 1;
  }
  #gallery-1508 .cs-picture-group:nth-child(5) {
    grid-column: span 4;
    grid-row: span 2;
  }
  #gallery-1508 .cs-picture-group:nth-child(6) {
    grid-column: span 4;
    grid-row: span 2;
  }
  #gallery-1508 .cs-picture-group:nth-child(7) {
    grid-column: span 4;
    grid-row: span 1;
  }
  #gallery-1508 .cs-picture-group:nth-child(8) {
    grid-column: span 4;
    grid-row: span 1;
  }
  #gallery-1508 .cs-h3,
  #gallery-1508 .cs-item-text {
    opacity: 0;
    transform: translateY(2rem);
  }
  #gallery-1508 .cs-picture-group:hover .cs-h3,
  #gallery-1508 .cs-picture-group:hover .cs-item-text {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #gallery-1508 .cs-content {
    margin-top: 0;
  }
  #gallery-1508 .cs-graphic {
    display: block;
  }
}
                                	
</style>
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1285">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1 fade-slide">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/AmazingSalads/images/step1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/AmazingSalads/images/step1.png">
                <img loading="lazy" decoding="async" src="/AmazingSalads/images/step1.png" alt="building" width="203" height="203">
            </picture>
            <picture class="cs-picture cs-picture2 fade-slide">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/AmazingSalads/images/step2.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/AmazingSalads/images/step2.png">
                <img loading="lazy" decoding="async" src="/AmazingSalads/images/step2.png" alt="building" width="207" height="207">
            </picture>
            <picture class="cs-picture cs-picture3 fade-slide">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/AmazingSalads/images/step3.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/AmazingSalads/images/step3.png">
                <img loading="lazy" decoding="async" src="/AmazingSalads/images/step3.png" alt="building" width="214" height="214">
            </picture>
            <picture class="cs-picture cs-picture4 fade-slide">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/AmazingSalads/images/step4.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/AmazingSalads/images/step4.png">
                <img loading="lazy" decoding="async" src="/AmazingSalads/images/step4.png" alt="building" width="223" height="223">
            </picture>
            <picture class="cs-picture cs-picture5 fade-slide">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/AmazingSalads/images/step5.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/AmazingSalads/images/step5.png">
                <img loading="lazy" decoding="async" src="/AmazingSalads/images/step5.png" alt="building" width="287" height="287">
            </picture>
            <picture class="cs-picture cs-picture6 fade-slide">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/AmazingSalads/images/step6.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/AmazingSalads/images/step6.png">
                <img loading="lazy" decoding="async" src="/AmazingSalads/images/step5.png" alt="building" width="203" height="203">
            </picture>
            
            <!--Stripe background-->
            <picture class="cs-waves-wrapper">
                <img class="cs-waves" loading="lazy" decoding="async" src="/AmazingSalads/images/svg-waves.svg" alt="stripes" width="650" height="933" aria-hidden="true">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Process</span>
            <h2 class="cs-title">We’re Committed to Maintain Standard Work Process</h2>
            <p class="cs-text">
                We carefully harvest our produce at peak freshness and sort it to remove any damaged or unsuitable items, ensuring only the highest-quality product continues through the process. The selected produce is then packed in clean, food-safe packaging and clearly labelled with harvest and batch information for full traceability. Once packed, the product undergoes rapid vacuum cooling to quickly remove field heat and preserve freshness, followed by controlled freezing to lock in quality, texture, and nutrients. From freezing through to final delivery, strict temperature controls are maintained to ensure the product arrives in optimal condition.
			      <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/AmazingSalads/images/harvest.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Harvest. 
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/AmazingSalads/images/sorting.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Sorting. 
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/AmazingSalads/images/packing.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Packing.
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/AmazingSalads/images/cooling.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Vacuum Cooling.
                </li>
                <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/AmazingSalads/images/freezing.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Freezing.
                </li>
				        <li class="cs-li">
                    <img class="cs-li-img" loading="lazy" decoding="async" src="/AmazingSalads/images/delivery.svg" alt="icon" width="24" height="24" aria-hidden="true">
                    Delivery.
                </li>
            </ul>
            <a href="/AmazingSalads/buyers/" class="cs-button-solid">Learn More</a>
        </div>
    </div>
</section>
                                
<style>
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1285 {
        padding: var(--sectionPadding);
        background: linear-gradient(to bottom, white, #f7f7f7, white);
        overflow: hidden;
    }
    #sbs-1285 .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #sbs-1285 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 32.625rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #sbs-1285 .cs-text {
        margin-bottom: 1rem;
    }
    #sbs-1285 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #sbs-1285 .cs-ul {
        max-width: 39.375rem;
        margin: 0 0 2rem 0;
        padding: 0;
        /* clips the bullets to create the half circle */
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.75rem;
    }
    #sbs-1285 .cs-li {
        list-style: none;
        margin: 0;
        color: var(--bodyTextColor);
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.75rem;
        position: relative;
    }
    #sbs-1285 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: var(--primary);
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #sbs-1285 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
    }
    #sbs-1285 .cs-button-solid:hover:before {
        width: 100%;
    }
    #sbs-1285 .cs-image-group {
        /* scales the whole group based on the view width size and stop when that vales equals .845em, resets at desktop */
        font-size: min(2.207vw, 1em);
        width: 34.0625em;
        height: 49.5625em;
        display: block;
        position: relative;
        z-index: 1;
    }
    #sbs-1285 .cs-picture {
        border-radius: 0.5em;
        overflow: hidden;
        position: absolute;
    }
    #sbs-1285 .cs-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #sbs-1285 .cs-picture1 {
        width: 15.25em;
        height: 12.5em;
        top: 0em;
        left: 0em;
    }
    #sbs-1285 .cs-picture2 {
        width: 15.25em;
        height: 16.875em;
        top: 2.5em;
        right: 2.0625em;
    }
    #sbs-1285 .cs-picture3 {
        width: 15.25em;
        height: 16.875em;
        top: 13.75em;
        left: 0;
    }
    #sbs-1285 .cs-picture4 {
        width: 19.375em;
        height: 21.4375em;
        box-shadow: 0px 24px 52px 0px rgba(0, 0, 0, 0.38);
        top: 18.375em;
        right: 0;
        z-index: 10;
    }
    #sbs-1285 .cs-picture5 {
        width: 15.25em;
        height: 16.875em;
        top: 31.875em;
        left: 0em;
    }
    #sbs-1285 .cs-picture6 {
        width: 15.25em;
        height: 11.875em;
        bottom: 0em;
        right: 2.0625em;
    }
    #sbs-1285 .cs-waves-wrapper {
        /* changes to 100% at desktop */
        width: 100vw;
        height: 150%;
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: -1;
        /* changes at desktop */
        transform: translateX(-50%);
    }
    #sbs-1285 .cs-waves-wrapper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-1285 {
        padding-top: 0;
        padding-bottom: 0;
    }
    #sbs-1285 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #sbs-1285 .cs-content {
        padding: 6.25rem 0;
        align-self: center;
    }
    #sbs-1285 .cs-image-group {
        font-size: min(1.2vw, 1em);
        flex: none;
    }
    
    #sbs-1285 .cs-picture6 {
        border-radius: 0;
    }
    #sbs-1285 .cs-waves-wrapper {
        width: 110%;
        height: 100%;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
    }
}
/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #sbs-1285 .cs-container {
        padding-left: 5.5rem;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
    }
    #sbs-1285 .cs-waves-wrapper {
        width: 43.25rem;
        height: initial;
        left: -5.5rem;
        top: 0;
        bottom: 0;
        transform: none;
    }
}

</style>


	<!-- ============================================ -->
	<!--                 Why Choose Us                -->
	<!-- ============================================ -->

	<section id="why-choose-1479">
		<div class="cs-container">
			<div class="cs-content">
				<span class="cs-topper">Our features</span>
				<h2 class="cs-title">Our Unique Features</h2>
				<p class="cs-text">
					Discover what sets our salad farm apart.
			</div>
			<ul class="cs-card-group fade-slide">
				<li class="cs-item">
					<img class="cs-icon" src="/AmazingSalads/images/deliveryMan.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
					<h3 class="cs-h3">Reliable Delivery</h3>
					<img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
				</li>
				<li class="cs-item">
					<img class="cs-icon" src="/AmazingSalads/images/quality.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
					<h3 class="cs-h3">Consistent Quality</h3>
					<img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
				</li>
				<li class="cs-item">
					<img class="cs-icon" src="/AmazingSalads/images/certified.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
					<h3 class="cs-h3">Certified Produce</h3>
					<img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
				</li>
				<li class="cs-item">
					<img class="cs-icon" src="/AmazingSalads/images/warehouse.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
					<h3 class="cs-h3">Large-Scale Supply</h3>
					<img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/Vector%204.svg" alt="graphic" width="310" height="121" decoding="async" loading="lazy">
				</li>
			</ul>
		</div>
	</section>
	<style>
		/*-- -------------------------- -->
		<---          Why choose        -->
		<--- -------------------------- -*/

		/* Mobile - 360px */
		@media only screen and (min-width: 0rem) {
		#why-choose-1479 {
			padding: var(--sectionPadding);
		}
		#why-choose-1479 .cs-container {
			width: 100%;
			/* changes to 1280px at tablet */
			max-width: 36.5rem;
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}
		#why-choose-1479 .cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}
		#why-choose-1479 .cs-text {
			max-width: 49rem;
		}
		#why-choose-1479 .cs-card-group {
			width: 100%;
			margin: 0;
			padding: 0;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			/* 8px - 20px */
			gap: clamp(0.5rem, 2vw, 1.25rem);
		}
		#why-choose-1479 .cs-item {
			list-style: none;
			width: 100%;
			box-sizing: border-box;
			/* 24px - 80px - top and bottom*/
			/* 12px - 60px - Left and right*/
			padding: clamp(1.5rem, 5vw, 5rem) clamp(0.75rem, 1vw, 3.75rem);
			border: 1px solid #e8e8e8;
			background-color: #fff;
			/* 24px - 60px */
			border-radius: clamp(1.5rem, 4vw, 3.75rem);
			grid-column: span 6;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: clamp(1rem, 1.7vw, 1.5rem);
			position: relative;
			overflow: hidden;
			transition: border-color 0.3s, background-color 0.3s;
		}
		#why-choose-1479 .cs-item:hover {
			border-color: var(--primary);
		}
		#why-choose-1479 .cs-item:hover .cs-icon {
			filter: none;
		}
		#why-choose-1479 .cs-item:hover .cs-graphic {
			filter: grayscale(0);
		}
		#why-choose-1479 .cs-icon {
			width: auto;
			/* 48px - 60px */
			height: clamp(3rem, 5vw, 3.75rem);
			/* greyscale gets removed on hover, revealing the color of the icon. customise your icons to match your color scheme and the hover effect will work automatically */
			filter: grayscale(1);
			transition: filter 0.3s;
		}
		#why-choose-1479 .cs-h3 {
			font-size: 1.25rem;
			font-weight: 700;
			line-height: 1.2em;
			text-align: center;
			max-width: 11.5625rem;
			margin: 0 auto;
			color: var(--headerColor);
		}
		#why-choose-1479 .cs-graphic {
			min-width: 19.375rem;
			width: 100%;
			height: auto;
			filter: grayscale(1);
			display: none;
			position: absolute;
			/* changes to 0 at large desktop */
			bottom: -2.1875rem;
			left: 0;
			transition: filter .3s;
		}
		}
		/* Tablet - 768px */
		@media only screen and (min-width: 48rem) {
		#why-choose-1479 .cs-container {
			max-width: 80rem;
		}
		#why-choose-1479 .cs-item {
			grid-column: span 3;
		}
		}
		/* Desktop - 1024px */
		@media only screen and (min-width: 64rem) {
		#why-choose-1479 .cs-graphic {
			display: block;
		}
		}
		/* Large Desktop - 1300px */
		@media only screen and (min-width: 81.25rem) {
		#why-choose-1479 .cs-graphic {
			bottom: 0;
		}
		}
	</style>
	
		 <section id="partners">
			<div class="slider">
				<div class="slide-track">
					<div class="slide"><img src="/AmazingSalads/images/certificates/haccp.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/sedex.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/redTractor.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/leaf.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/fruitful.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/defra.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/strongerTogether.webp" height="100" width="250"></div>
					
					<div class="slide"><img src="/AmazingSalads/images/certificates/haccp.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/sedex.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/redTractor.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/leaf.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/fruitful.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/defra.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/strongerTogether.webp" height="100" width="250"></div>

					<div class="slide"><img src="/AmazingSalads/images/certificates/haccp.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/sedex.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/redTractor.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/leaf.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/fruitful.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/defra.webp" height="100" width="250"></div>
					<div class="slide"><img src="/AmazingSalads/images/certificates/strongerTogether.webp" height="100" width="250"></div>
				</div>
			</div>
		</section>

		<style>
		#partners {
			align-items: center;
			background: white;
			display: flex;
			height: 40vh;
			justify-content: center;
		}

		/* Replace SCSS mixin with plain CSS */
		.slider::before,
		.slider::after {
			background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
			content: "";
			height: 100px;
			position: absolute;
			width: 200px;
			z-index: 2;
		}

		.slider::after {
			right: 0;
			top: 0;
			transform: rotateZ(180deg);
		}

		.slider::before {
			left: 0;
			top: 0;
		}

		/* Animation */
		@keyframes scroll {
			0% { transform: translateX(0); }
			100% { transform: translateX(calc(-250px * 7)); }
		}

		/* Slider styling */
		.slider {
			background: white;
			box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
			height: 100px;
			margin: auto;
			overflow: hidden;
			position: relative;
			width: 960px;
			border-radius: 1.25rem;
		}

		/* 40s replaced for $animationSpeed */
		.slide-track {
			animation: scroll 40s linear infinite;
			display: flex;
			width: calc(250px * 21);
		}

		.slide {
			height: 100px;
			width: 250px;
		}
		</style> 
	

</BaseLayout>
